{% extends "base.html" %}

{% block content %}

<body>
<div class="container">
    <h2 style="text-align:center;">Class List</h2>
  <br><br>

    <!-- <p>Contextual classes can be used to color table rows or table cells. The classes that can be used are: .active, .success, .info, .warning, and .danger.</p> --><table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Student ID</th>
      <th scope="col">Student Name</th>
      <th scope="col">Class Code</th>
      <th scope="col">Delete</th>

    </tr>
  </thead>
  <tbody>
  {% for s in students %}
    <tr>
      <th scope="row">1</th>
      <td>{{ s.s_id }}</td>
      <td>{{ s.s_name }}</td>
      <td>{{ s.class_code }}</td>
      <td><a href="{{ url_for('delstudent', s_id=s.s_id) }}">X</a></td>
    </tr>
  {% endfor %}

  </tbody>
</table>

</body>
{% endblock %}