{% extends "base.html" %}

{% block content %}
<h3 style="text-align:center"></h3>
<br><br>
<div class="input-group" style="margin-left: auto;margin-right: auto;width:40%;">

</div>
<div class="container">
    <h2 style="text-align:center;">Path Finder</h2>

    <div class="input-group" style="text-align:center;margin:auto;display:block">

      <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <p>
              {% with messages = get_flashed_messages() %}
              {% if messages %}
              <ul style="text-align:center;color:red;">
              {% for message in messages %}
              {{ message }}
              <br>
              {% endfor %}
              </ul>
              {% endif %}
              {% endwith %}
  
              {{ form.startpoint.label }}<br>
              {{ form.startpoint(style="display: block;margin:auto;",size=32) }}
              {% for error in form.startpoint.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
          <p>
              {{ form.endpoint.label }}<br>
              {{ form.endpoint(size=32) }}
              {% for error in form.endpoint.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
          <p>{{ form.submit() }}</p>
      </form>

      <br>


<!-- {% include 'shortest_path_map.html' %} -->

  </div>
              {% if searched %}
              <embed type="text/html" src="{{ url_for('short_path') }}"  style=padding:10; width="1500px" height="500" >
              {% endif %}

              {{ timing }}
<br>
    {{ path }}

{% endblock %}
