{% extends "base.html" %}

{% block content %}
<h3 style="text-align:center"></h3>
<br><br>
<div class="input-group" style="margin-left: auto;margin-right: auto;width:40%;">

</div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul style="text-align:center;color:red;">
    {% for message in messages %}
    {{ message }}
    <br>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}


<div class="container">
    <h2 style="text-align:center;">Who's not here today on {{ today_date }}?</h2>
    <br><br>

    <!-- <p>Contextual classes can be used to color table rows or table cells. The classes that can be used are: .active, .success, .info, .warning, and .danger.</p> --><table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Student ID</th>
      <th scope="col">Student Name</th>
      <th scope="col">Class Code</th>


    </tr>
  </thead>
  <tbody>
  {% for ass in not_here %}
    <tr>
      <th scope="row">1</th>
      {% for a in ass %}
      <td>{{ a }}</td>
       {% endfor %}


    </tr>
  {% endfor %}

  </tbody>
</table>


{% endblock %}
