<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b618df64ac6a52e90719cc28b4ffd617 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_b618df64ac6a52e90719cc28b4ffd617" ></div>
        
</body>
<script>
    
    
            var map_b618df64ac6a52e90719cc28b4ffd617 = L.map(
                "map_b618df64ac6a52e90719cc28b4ffd617",
                {
                    center: [1.3449977460000004, 103.84011903099416],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_86513f43478496309beb49684155cc52 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var poly_line_eb776d52318828c913f6d29e529a607e = L.polyline(
                [[1.284359578, 103.8434242], [1.288386024, 103.8465519]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var poly_line_513838699987e24022b35356583b09c6 = L.polyline(
                [[1.331379525, 103.869046], [1.319395706, 103.861679]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var poly_line_354a25e104e77d03adea83daac80a9c4 = L.polyline(
                [[1.331379525, 103.869046], [1.339190046, 103.8708081]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var poly_line_98450c128b245f4bad8c0624cc5c0c47 = L.polyline(
                [[1.298701307, 103.8461119], [1.288386024, 103.8465519]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var poly_line_1e3180f5cbaa15ee68223acef3dce722 = L.polyline(
                [[1.298701307, 103.8461119], [1.307198223, 103.8485807]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var poly_line_46d13ed0fa24d3de65c2e5d137cc43e2 = L.polyline(
                [[1.319395706, 103.861679], [1.31235984, 103.8541717]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var poly_line_42f59e65662a22dab9a75b468c2807cc = L.polyline(
                [[1.339190046, 103.8708081], [1.349707875, 103.8735637]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var poly_line_bc094243570288ae0adfc3a2f3504275 = L.polyline(
                [[1.307198223, 103.8485807], [1.31235984, 103.8541717]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var poly_line_e205159b3d102f076cadfec00817c48a = L.polyline(
                [[1.349707875, 103.8735637], [1.360214, 103.884864]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var marker_2fdf207b85a7c6a124d14b1e2a4dfee9 = L.marker(
                [1.284359578, 103.8434242],
                {}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var icon_91e9e8ab708fa36008abe6056dccf72f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_2fdf207b85a7c6a124d14b1e2a4dfee9.setIcon(icon_91e9e8ab708fa36008abe6056dccf72f);
        
    
        var popup_1a2a4668ed6ba35942e6ba418c221b2a = L.popup({"maxWidth": 150});

        
            
                var html_bb25e4e114a00cbc401099cd91ee6631 = $(`<div id="html_bb25e4e114a00cbc401099cd91ee6631" style="width: 100.0%; height: 100.0%;"><b>NE4 DT19 Chinatown</b></div>`)[0];
                popup_1a2a4668ed6ba35942e6ba418c221b2a.setContent(html_bb25e4e114a00cbc401099cd91ee6631);
            
        

        marker_2fdf207b85a7c6a124d14b1e2a4dfee9.bindPopup(popup_1a2a4668ed6ba35942e6ba418c221b2a)
        ;

        
    
    
            var marker_f9bcfc6f1186c7561021971b0521ed34 = L.marker(
                [1.284359578, 103.8434242],
                {}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var div_icon_5023f97843a98a4589d1e3a0513ecc74 = L.divIcon({"className": "empty", "html": "\u003cb\u003eNE4 DT19 Chinatown\u003c/b\u003e", "iconSize": [30, 10]});
            marker_f9bcfc6f1186c7561021971b0521ed34.setIcon(div_icon_5023f97843a98a4589d1e3a0513ecc74);
        
    
            var marker_81ab79707bd7f17a1f71f0350ec2ee02 = L.marker(
                [1.331379525, 103.869046],
                {}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var icon_1584d0bbbcca3b0d621dbc7c7b35ff8f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_81ab79707bd7f17a1f71f0350ec2ee02.setIcon(icon_1584d0bbbcca3b0d621dbc7c7b35ff8f);
        
    
        var popup_de7d6babf3b842ecde38f2a162e9e324 = L.popup({"maxWidth": 150});

        
            
                var html_bc81af57d2cc9b02d4782b8d5be5a6b5 = $(`<div id="html_bc81af57d2cc9b02d4782b8d5be5a6b5" style="width: 100.0%; height: 100.0%;"><b>NE10 Potong Pasir</b></div>`)[0];
                popup_de7d6babf3b842ecde38f2a162e9e324.setContent(html_bc81af57d2cc9b02d4782b8d5be5a6b5);
            
        

        marker_81ab79707bd7f17a1f71f0350ec2ee02.bindPopup(popup_de7d6babf3b842ecde38f2a162e9e324)
        ;

        
    
    
            var marker_18421e077ee2ae98ffcca0933be867d1 = L.marker(
                [1.331379525, 103.869046],
                {}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var div_icon_711b70347abf6400cabe521f85a7d0bc = L.divIcon({"className": "empty", "html": "\u003cb\u003eNE10 Potong Pasir\u003c/b\u003e", "iconSize": [30, 10]});
            marker_18421e077ee2ae98ffcca0933be867d1.setIcon(div_icon_711b70347abf6400cabe521f85a7d0bc);
        
    
            var marker_28b2f35fffcd94698626f206bfd2d56f = L.marker(
                [1.298701307, 103.8461119],
                {}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var icon_de390ba73ee6e6244df9724f65163070 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_28b2f35fffcd94698626f206bfd2d56f.setIcon(icon_de390ba73ee6e6244df9724f65163070);
        
    
        var popup_0cbefb34e476487a2fdb9bee31374fc9 = L.popup({"maxWidth": 150});

        
            
                var html_b52e6d21d654c709ca1cc76cd527d46a = $(`<div id="html_b52e6d21d654c709ca1cc76cd527d46a" style="width: 100.0%; height: 100.0%;"><b>NS24 NE6 CC1 Dhoby Ghaut</b></div>`)[0];
                popup_0cbefb34e476487a2fdb9bee31374fc9.setContent(html_b52e6d21d654c709ca1cc76cd527d46a);
            
        

        marker_28b2f35fffcd94698626f206bfd2d56f.bindPopup(popup_0cbefb34e476487a2fdb9bee31374fc9)
        ;

        
    
    
            var marker_4ea16d67c399f95b9086814d7c7fd7b3 = L.marker(
                [1.298701307, 103.8461119],
                {}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var div_icon_c327edc5d70227ebbd2cec8b28c28578 = L.divIcon({"className": "empty", "html": "\u003cb\u003eNS24 NE6 CC1 Dhoby Ghaut\u003c/b\u003e", "iconSize": [30, 10]});
            marker_4ea16d67c399f95b9086814d7c7fd7b3.setIcon(div_icon_c327edc5d70227ebbd2cec8b28c28578);
        
    
            var marker_f30dc87503a9e08ee022aea053bb3680 = L.marker(
                [1.288386024, 103.8465519],
                {}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var icon_3c886b74084075c2d924b33966764868 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f30dc87503a9e08ee022aea053bb3680.setIcon(icon_3c886b74084075c2d924b33966764868);
        
    
        var popup_2e7e409ec441b28bda555ccc04c7b70e = L.popup({"maxWidth": 150});

        
            
                var html_36cc842c96dd3b5e5d30a669e80b5da1 = $(`<div id="html_36cc842c96dd3b5e5d30a669e80b5da1" style="width: 100.0%; height: 100.0%;"><b>NE5 Clarke Quay</b></div>`)[0];
                popup_2e7e409ec441b28bda555ccc04c7b70e.setContent(html_36cc842c96dd3b5e5d30a669e80b5da1);
            
        

        marker_f30dc87503a9e08ee022aea053bb3680.bindPopup(popup_2e7e409ec441b28bda555ccc04c7b70e)
        ;

        
    
    
            var marker_9609a3c341917e64451e079b84b86779 = L.marker(
                [1.288386024, 103.8465519],
                {}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var div_icon_78cc252de599682adfde2f62f5c1f5c6 = L.divIcon({"className": "empty", "html": "\u003cb\u003eNE5 Clarke Quay\u003c/b\u003e", "iconSize": [30, 10]});
            marker_9609a3c341917e64451e079b84b86779.setIcon(div_icon_78cc252de599682adfde2f62f5c1f5c6);
        
    
            var marker_da0744cc472527eb778dfda31a6a320f = L.marker(
                [1.319395706, 103.861679],
                {}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var icon_40c0ff8c94eb8934f7090bb255f3c65a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_da0744cc472527eb778dfda31a6a320f.setIcon(icon_40c0ff8c94eb8934f7090bb255f3c65a);
        
    
        var popup_a4d55591f7bc9f7210e1f696fd9a1bc7 = L.popup({"maxWidth": 150});

        
            
                var html_1ffe201bf1dbe26cf6e6392938f8b147 = $(`<div id="html_1ffe201bf1dbe26cf6e6392938f8b147" style="width: 100.0%; height: 100.0%;"><b>NE9 Boon Keng</b></div>`)[0];
                popup_a4d55591f7bc9f7210e1f696fd9a1bc7.setContent(html_1ffe201bf1dbe26cf6e6392938f8b147);
            
        

        marker_da0744cc472527eb778dfda31a6a320f.bindPopup(popup_a4d55591f7bc9f7210e1f696fd9a1bc7)
        ;

        
    
    
            var marker_2699fc6e033a848c6c2ea438144e45db = L.marker(
                [1.319395706, 103.861679],
                {}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var div_icon_e906bb19b958e82c049e36e16ccc0dcb = L.divIcon({"className": "empty", "html": "\u003cb\u003eNE9 Boon Keng\u003c/b\u003e", "iconSize": [30, 10]});
            marker_2699fc6e033a848c6c2ea438144e45db.setIcon(div_icon_e906bb19b958e82c049e36e16ccc0dcb);
        
    
            var marker_0e777f50bd7ca9372d94f223dd071110 = L.marker(
                [1.339190046, 103.8708081],
                {}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var icon_04ab82d863f1700b06eef0d7f6655548 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0e777f50bd7ca9372d94f223dd071110.setIcon(icon_04ab82d863f1700b06eef0d7f6655548);
        
    
        var popup_1047819e95b2368db771ce35c06c8333 = L.popup({"maxWidth": 150});

        
            
                var html_1cb4ed33e05e96758e029adabd3110a5 = $(`<div id="html_1cb4ed33e05e96758e029adabd3110a5" style="width: 100.0%; height: 100.0%;"><b>NE11 Woodleigh</b></div>`)[0];
                popup_1047819e95b2368db771ce35c06c8333.setContent(html_1cb4ed33e05e96758e029adabd3110a5);
            
        

        marker_0e777f50bd7ca9372d94f223dd071110.bindPopup(popup_1047819e95b2368db771ce35c06c8333)
        ;

        
    
    
            var marker_8bab33045de3e2daadeb9e259f23889a = L.marker(
                [1.339190046, 103.8708081],
                {}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var div_icon_cdd26e2b895ee6e627a5bb3327d470db = L.divIcon({"className": "empty", "html": "\u003cb\u003eNE11 Woodleigh\u003c/b\u003e", "iconSize": [30, 10]});
            marker_8bab33045de3e2daadeb9e259f23889a.setIcon(div_icon_cdd26e2b895ee6e627a5bb3327d470db);
        
    
            var marker_e07dd90dd79d99ca24621fec7c223158 = L.marker(
                [1.307198223, 103.8485807],
                {}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var icon_dbe219d0f3e582b58e0e1b437cead3af = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_e07dd90dd79d99ca24621fec7c223158.setIcon(icon_dbe219d0f3e582b58e0e1b437cead3af);
        
    
        var popup_08834d0ae875845c7bae9739253b609d = L.popup({"maxWidth": 150});

        
            
                var html_6062d206269b3d9210d817b8fa5e3757 = $(`<div id="html_6062d206269b3d9210d817b8fa5e3757" style="width: 100.0%; height: 100.0%;"><b>NE7 DT12 Little India</b></div>`)[0];
                popup_08834d0ae875845c7bae9739253b609d.setContent(html_6062d206269b3d9210d817b8fa5e3757);
            
        

        marker_e07dd90dd79d99ca24621fec7c223158.bindPopup(popup_08834d0ae875845c7bae9739253b609d)
        ;

        
    
    
            var marker_7f726ca1b9a9199bff5f20304ab675a6 = L.marker(
                [1.307198223, 103.8485807],
                {}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var div_icon_ef6680a652e5d2e61a8307c8ef81de11 = L.divIcon({"className": "empty", "html": "\u003cb\u003eNE7 DT12 Little India\u003c/b\u003e", "iconSize": [30, 10]});
            marker_7f726ca1b9a9199bff5f20304ab675a6.setIcon(div_icon_ef6680a652e5d2e61a8307c8ef81de11);
        
    
            var marker_eca65c1c92e8afecde09c6d9a46bc481 = L.marker(
                [1.349707875, 103.8735637],
                {}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var icon_b8e69bf510c37884f5597f2d8689010c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_eca65c1c92e8afecde09c6d9a46bc481.setIcon(icon_b8e69bf510c37884f5597f2d8689010c);
        
    
        var popup_d5c9e006ed94095b6981f5740d9feda5 = L.popup({"maxWidth": 150});

        
            
                var html_5987d9b875ab0699ec33fe2bfc6bed21 = $(`<div id="html_5987d9b875ab0699ec33fe2bfc6bed21" style="width: 100.0%; height: 100.0%;"><b>NE12 CC13 Serangoon</b></div>`)[0];
                popup_d5c9e006ed94095b6981f5740d9feda5.setContent(html_5987d9b875ab0699ec33fe2bfc6bed21);
            
        

        marker_eca65c1c92e8afecde09c6d9a46bc481.bindPopup(popup_d5c9e006ed94095b6981f5740d9feda5)
        ;

        
    
    
            var marker_ace35c05e1d74774ede00bf990366f2c = L.marker(
                [1.349707875, 103.8735637],
                {}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var div_icon_5f88d90e86b6090acd569e581d2d5a16 = L.divIcon({"className": "empty", "html": "\u003cb\u003eNE12 CC13 Serangoon\u003c/b\u003e", "iconSize": [30, 10]});
            marker_ace35c05e1d74774ede00bf990366f2c.setIcon(div_icon_5f88d90e86b6090acd569e581d2d5a16);
        
    
            var marker_89c9d7964ed3ec0beb05e00d032cee46 = L.marker(
                [1.31235984, 103.8541717],
                {}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var icon_27054248a0559c3f08eb0120ccb288e8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_89c9d7964ed3ec0beb05e00d032cee46.setIcon(icon_27054248a0559c3f08eb0120ccb288e8);
        
    
        var popup_755ee444026ced4b29a083c2c7a5a9fc = L.popup({"maxWidth": 150});

        
            
                var html_0e4058a042527debfb4a0bb213052cab = $(`<div id="html_0e4058a042527debfb4a0bb213052cab" style="width: 100.0%; height: 100.0%;"><b>NE8 Farrer Park</b></div>`)[0];
                popup_755ee444026ced4b29a083c2c7a5a9fc.setContent(html_0e4058a042527debfb4a0bb213052cab);
            
        

        marker_89c9d7964ed3ec0beb05e00d032cee46.bindPopup(popup_755ee444026ced4b29a083c2c7a5a9fc)
        ;

        
    
    
            var marker_c4ae66173f3e999f1311504e6707f05a = L.marker(
                [1.31235984, 103.8541717],
                {}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var div_icon_48798680c4b3fa1ce4870b03f2fd13fe = L.divIcon({"className": "empty", "html": "\u003cb\u003eNE8 Farrer Park\u003c/b\u003e", "iconSize": [30, 10]});
            marker_c4ae66173f3e999f1311504e6707f05a.setIcon(div_icon_48798680c4b3fa1ce4870b03f2fd13fe);
        
    
            var marker_5756339c80881c4d96969019c9db2f25 = L.marker(
                [1.360214, 103.884864],
                {}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var icon_56ace299a07f5e10a34702f3ca3cb8fb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_5756339c80881c4d96969019c9db2f25.setIcon(icon_56ace299a07f5e10a34702f3ca3cb8fb);
        
    
        var popup_6def0f8ae7550044769936c93aa71de0 = L.popup({"maxWidth": 150});

        
            
                var html_52d8f025747ddcdbb6d94808d06f88e5 = $(`<div id="html_52d8f025747ddcdbb6d94808d06f88e5" style="width: 100.0%; height: 100.0%;"><b>NE13 Kovan</b></div>`)[0];
                popup_6def0f8ae7550044769936c93aa71de0.setContent(html_52d8f025747ddcdbb6d94808d06f88e5);
            
        

        marker_5756339c80881c4d96969019c9db2f25.bindPopup(popup_6def0f8ae7550044769936c93aa71de0)
        ;

        
    
    
            var marker_b114b5d23c37a93542db86dc85d2e0f2 = L.marker(
                [1.360214, 103.884864],
                {}
            ).addTo(map_b618df64ac6a52e90719cc28b4ffd617);
        
    
            var div_icon_183781019fc9cb3aea954ba6342f2069 = L.divIcon({"className": "empty", "html": "\u003cb\u003eNE13 Kovan\u003c/b\u003e", "iconSize": [30, 10]});
            marker_b114b5d23c37a93542db86dc85d2e0f2.setIcon(div_icon_183781019fc9cb3aea954ba6342f2069);
        
</script>
</html>