<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a9d84f529407e772ff8cafc177b8d664 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_a9d84f529407e772ff8cafc177b8d664" ></div>
        
</body>
<script>
    
    
            var map_a9d84f529407e772ff8cafc177b8d664 = L.map(
                "map_a9d84f529407e772ff8cafc177b8d664",
                {
                    center: [1.3449977460000004, 103.84011903099416],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_ffc697573fa35202c82f36fee941ad1f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var poly_line_a9b22dfd6d81db020c47220810824c40 = L.polyline(
                [[1.321505838, 103.8718904], [1.313672233, 103.8629702]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var poly_line_3340b122d2261d223b2eb23c4552b2d7 = L.polyline(
                [[1.321505838, 103.8718904], [1.326876715, 103.8832341]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var poly_line_069399ada7aa42dcad6ea28dcc183eec = L.polyline(
                [[1.329956826, 103.8992348], [1.326345372, 103.8902718]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var poly_line_70c687bf0a28483c0db1925b7dcd4c72 = L.polyline(
                [[1.329956826, 103.8992348], [1.334967302, 103.9084393]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var poly_line_3bb55c11952d38cfbca279f09869daee = L.polyline(
                [[1.313672233, 103.8629702], [1.305004, 103.8553387]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var poly_line_e8adc49fff2600307f3ca85e01ca4c71 = L.polyline(
                [[1.33660783, 103.9322077], [1.334742117, 103.9179554]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var poly_line_2d732353447bd38b651b7ce1ddcf9684 = L.polyline(
                [[1.33660783, 103.9322077], [1.345515305, 103.938408]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var poly_line_580418011d3281b85a4a605f371ffd17 = L.polyline(
                [[1.326345372, 103.8902718], [1.326876715, 103.8832341]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var poly_line_08422eebb3097e5dccedbc8e69cd827f = L.polyline(
                [[1.305004, 103.8553387], [1.302257124, 103.8515449]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var poly_line_c9631c053a65cb32fbae6b9429edf710 = L.polyline(
                [[1.353301356, 103.9451175], [1.345515305, 103.938408]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var poly_line_c59a21b19fbae18dc5936a6037702703 = L.polyline(
                [[1.334742117, 103.9179554], [1.334967302, 103.9084393]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var marker_a176011d1e38940ba907c51fa8a9a0a8 = L.marker(
                [1.321505838, 103.8718904],
                {}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var icon_fa3662aea1754559551b532516facf56 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a176011d1e38940ba907c51fa8a9a0a8.setIcon(icon_fa3662aea1754559551b532516facf56);
        
    
        var popup_c68840d9e0a443932e4c1d4986568236 = L.popup({"maxWidth": 150});

        
            
                var html_764508e1f718674aba97a343ecf8b0d8 = $(`<div id="html_764508e1f718674aba97a343ecf8b0d8" style="width: 100.0%; height: 100.0%;"><b>DT24 Geylang Bahru</b></div>`)[0];
                popup_c68840d9e0a443932e4c1d4986568236.setContent(html_764508e1f718674aba97a343ecf8b0d8);
            
        

        marker_a176011d1e38940ba907c51fa8a9a0a8.bindPopup(popup_c68840d9e0a443932e4c1d4986568236)
        ;

        
    
    
            var marker_45012b9fe3750b6d9d7f112a7a928864 = L.marker(
                [1.321505838, 103.8718904],
                {}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var div_icon_c4d25b0c62082c7c261db7eb18ab8082 = L.divIcon({"className": "empty", "html": "\u003cb\u003eDT24 Geylang Bahru\u003c/b\u003e", "iconSize": [30, 10]});
            marker_45012b9fe3750b6d9d7f112a7a928864.setIcon(div_icon_c4d25b0c62082c7c261db7eb18ab8082);
        
    
            var marker_ba7d50c5430f2d50e917803278fdae18 = L.marker(
                [1.329956826, 103.8992348],
                {}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var icon_b8f50d2a3ced3905b6348ae46d6d9506 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ba7d50c5430f2d50e917803278fdae18.setIcon(icon_b8f50d2a3ced3905b6348ae46d6d9506);
        
    
        var popup_cf2a652e467bbda5dbf511806846382b = L.popup({"maxWidth": 150});

        
            
                var html_027d779cef62f200cdc1105264622260 = $(`<div id="html_027d779cef62f200cdc1105264622260" style="width: 100.0%; height: 100.0%;"><b>DT27 Ubi</b></div>`)[0];
                popup_cf2a652e467bbda5dbf511806846382b.setContent(html_027d779cef62f200cdc1105264622260);
            
        

        marker_ba7d50c5430f2d50e917803278fdae18.bindPopup(popup_cf2a652e467bbda5dbf511806846382b)
        ;

        
    
    
            var marker_69e474aa51772bf5d94a5e9858bc7f4c = L.marker(
                [1.329956826, 103.8992348],
                {}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var div_icon_fd3e1e6c6eae209fd37f624f1aecd358 = L.divIcon({"className": "empty", "html": "\u003cb\u003eDT27 Ubi\u003c/b\u003e", "iconSize": [30, 10]});
            marker_69e474aa51772bf5d94a5e9858bc7f4c.setIcon(div_icon_fd3e1e6c6eae209fd37f624f1aecd358);
        
    
            var marker_0127d25a94dce622280f2220060a9a20 = L.marker(
                [1.313672233, 103.8629702],
                {}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var icon_a2feb318dad1d5b6147996cf91184e6b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0127d25a94dce622280f2220060a9a20.setIcon(icon_a2feb318dad1d5b6147996cf91184e6b);
        
    
        var popup_bfd89098c433cae2bc7c943918ebbd97 = L.popup({"maxWidth": 150});

        
            
                var html_53e0add83732b7af02ca14a20cf57be9 = $(`<div id="html_53e0add83732b7af02ca14a20cf57be9" style="width: 100.0%; height: 100.0%;"><b>DT23 Bendemeer</b></div>`)[0];
                popup_bfd89098c433cae2bc7c943918ebbd97.setContent(html_53e0add83732b7af02ca14a20cf57be9);
            
        

        marker_0127d25a94dce622280f2220060a9a20.bindPopup(popup_bfd89098c433cae2bc7c943918ebbd97)
        ;

        
    
    
            var marker_e11444e07ef087255b1b40074475c6da = L.marker(
                [1.313672233, 103.8629702],
                {}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var div_icon_af6c2950da4288a6af18ef78091ccb07 = L.divIcon({"className": "empty", "html": "\u003cb\u003eDT23 Bendemeer\u003c/b\u003e", "iconSize": [30, 10]});
            marker_e11444e07ef087255b1b40074475c6da.setIcon(div_icon_af6c2950da4288a6af18ef78091ccb07);
        
    
            var marker_697416d2d3d75565d05ff14c7c9426a6 = L.marker(
                [1.33660783, 103.9322077],
                {}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var icon_7f86b2921e1a8b5f6635c4d0288c0062 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_697416d2d3d75565d05ff14c7c9426a6.setIcon(icon_7f86b2921e1a8b5f6635c4d0288c0062);
        
    
        var popup_05c99f5eaae9872304e404d154283814 = L.popup({"maxWidth": 150});

        
            
                var html_2bebf88cf30c2afd7ec4ec587b8c2c5b = $(`<div id="html_2bebf88cf30c2afd7ec4ec587b8c2c5b" style="width: 100.0%; height: 100.0%;"><b>DT30 Bedok Reservoir</b></div>`)[0];
                popup_05c99f5eaae9872304e404d154283814.setContent(html_2bebf88cf30c2afd7ec4ec587b8c2c5b);
            
        

        marker_697416d2d3d75565d05ff14c7c9426a6.bindPopup(popup_05c99f5eaae9872304e404d154283814)
        ;

        
    
    
            var marker_f5198e3ea7f6a3627801296e8f087654 = L.marker(
                [1.33660783, 103.9322077],
                {}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var div_icon_69bc35f2c8e5fcfcdc51991d6e508a58 = L.divIcon({"className": "empty", "html": "\u003cb\u003eDT30 Bedok Reservoir\u003c/b\u003e", "iconSize": [30, 10]});
            marker_f5198e3ea7f6a3627801296e8f087654.setIcon(div_icon_69bc35f2c8e5fcfcdc51991d6e508a58);
        
    
            var marker_0c7526262936768197f7703dacb98909 = L.marker(
                [1.326345372, 103.8902718],
                {}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var icon_88bb8d70a1bf131c7a786da605570ea0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0c7526262936768197f7703dacb98909.setIcon(icon_88bb8d70a1bf131c7a786da605570ea0);
        
    
        var popup_a905064a2f7f3fa4cf033a27464e16a8 = L.popup({"maxWidth": 150});

        
            
                var html_e29ee402e7cc3a13ac9f0aa5342affad = $(`<div id="html_e29ee402e7cc3a13ac9f0aa5342affad" style="width: 100.0%; height: 100.0%;"><b>CC10 DT26 MacPherson</b></div>`)[0];
                popup_a905064a2f7f3fa4cf033a27464e16a8.setContent(html_e29ee402e7cc3a13ac9f0aa5342affad);
            
        

        marker_0c7526262936768197f7703dacb98909.bindPopup(popup_a905064a2f7f3fa4cf033a27464e16a8)
        ;

        
    
    
            var marker_188ac5a8bef533a000127f5abd7e549d = L.marker(
                [1.326345372, 103.8902718],
                {}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var div_icon_87aef8bb606253e7a8278cf3b422bd2e = L.divIcon({"className": "empty", "html": "\u003cb\u003eCC10 DT26 MacPherson\u003c/b\u003e", "iconSize": [30, 10]});
            marker_188ac5a8bef533a000127f5abd7e549d.setIcon(div_icon_87aef8bb606253e7a8278cf3b422bd2e);
        
    
            var marker_fc39de37ec034c3948012c1ecd94cef5 = L.marker(
                [1.305004, 103.8553387],
                {}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var icon_8d7130dfedf3696604bf4ed614fe7611 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_fc39de37ec034c3948012c1ecd94cef5.setIcon(icon_8d7130dfedf3696604bf4ed614fe7611);
        
    
        var popup_6adeef08ad905ca838fe5e201cf2621f = L.popup({"maxWidth": 150});

        
            
                var html_f3e3b1bf55cdec3cb85aeb089ea8286f = $(`<div id="html_f3e3b1bf55cdec3cb85aeb089ea8286f" style="width: 100.0%; height: 100.0%;"><b>DT22 Jalan Besar</b></div>`)[0];
                popup_6adeef08ad905ca838fe5e201cf2621f.setContent(html_f3e3b1bf55cdec3cb85aeb089ea8286f);
            
        

        marker_fc39de37ec034c3948012c1ecd94cef5.bindPopup(popup_6adeef08ad905ca838fe5e201cf2621f)
        ;

        
    
    
            var marker_b8252836aa8dd3affeff166e6b78751f = L.marker(
                [1.305004, 103.8553387],
                {}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var div_icon_201982df6b7cccacb78f1967f55ad4fb = L.divIcon({"className": "empty", "html": "\u003cb\u003eDT22 Jalan Besar\u003c/b\u003e", "iconSize": [30, 10]});
            marker_b8252836aa8dd3affeff166e6b78751f.setIcon(div_icon_201982df6b7cccacb78f1967f55ad4fb);
        
    
            var marker_6bb0a9097974a82abd759e3ea15eef4a = L.marker(
                [1.302257124, 103.8515449],
                {}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var icon_0667d038478f5024e08addf87beefb0e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_6bb0a9097974a82abd759e3ea15eef4a.setIcon(icon_0667d038478f5024e08addf87beefb0e);
        
    
        var popup_f9b067bf308c3723a5a6b4c934958eb4 = L.popup({"maxWidth": 150});

        
            
                var html_4dc988d09a26e2d4a9b75bfefe28204f = $(`<div id="html_4dc988d09a26e2d4a9b75bfefe28204f" style="width: 100.0%; height: 100.0%;"><b>DT13 Rochor</b></div>`)[0];
                popup_f9b067bf308c3723a5a6b4c934958eb4.setContent(html_4dc988d09a26e2d4a9b75bfefe28204f);
            
        

        marker_6bb0a9097974a82abd759e3ea15eef4a.bindPopup(popup_f9b067bf308c3723a5a6b4c934958eb4)
        ;

        
    
    
            var marker_55637bf691459a7e79da12449154f2ca = L.marker(
                [1.302257124, 103.8515449],
                {}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var div_icon_5646382041979aa6ad2adfa2acc23b0c = L.divIcon({"className": "empty", "html": "\u003cb\u003eDT13 Rochor\u003c/b\u003e", "iconSize": [30, 10]});
            marker_55637bf691459a7e79da12449154f2ca.setIcon(div_icon_5646382041979aa6ad2adfa2acc23b0c);
        
    
            var marker_8893167802e84e8bcbdd61a72be11a3d = L.marker(
                [1.353301356, 103.9451175],
                {}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var icon_42461a78716241e5390e1ac53c0506fa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_8893167802e84e8bcbdd61a72be11a3d.setIcon(icon_42461a78716241e5390e1ac53c0506fa);
        
    
        var popup_deac45ef1b5381bf43106ecd11cc8278 = L.popup({"maxWidth": 150});

        
            
                var html_ad582b0f5f206c67d96e68b3cdb4fd98 = $(`<div id="html_ad582b0f5f206c67d96e68b3cdb4fd98" style="width: 100.0%; height: 100.0%;"><b>EW2 DT32 Tampines</b></div>`)[0];
                popup_deac45ef1b5381bf43106ecd11cc8278.setContent(html_ad582b0f5f206c67d96e68b3cdb4fd98);
            
        

        marker_8893167802e84e8bcbdd61a72be11a3d.bindPopup(popup_deac45ef1b5381bf43106ecd11cc8278)
        ;

        
    
    
            var marker_3df75d17447f0992921350b6c4b07184 = L.marker(
                [1.353301356, 103.9451175],
                {}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var div_icon_f2bb19aa5a6ddb36929dd6721daaf1fc = L.divIcon({"className": "empty", "html": "\u003cb\u003eEW2 DT32 Tampines\u003c/b\u003e", "iconSize": [30, 10]});
            marker_3df75d17447f0992921350b6c4b07184.setIcon(div_icon_f2bb19aa5a6ddb36929dd6721daaf1fc);
        
    
            var marker_bfbacec45a802f9785ad21a76a8818b3 = L.marker(
                [1.334742117, 103.9179554],
                {}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var icon_1d5af7516098acea5c101439f04036aa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_bfbacec45a802f9785ad21a76a8818b3.setIcon(icon_1d5af7516098acea5c101439f04036aa);
        
    
        var popup_840dfbfeb8a909b887139e5aacecd3dc = L.popup({"maxWidth": 150});

        
            
                var html_2e35da8ccad68e71aa8f89572fdb7d59 = $(`<div id="html_2e35da8ccad68e71aa8f89572fdb7d59" style="width: 100.0%; height: 100.0%;"><b>DT29 Bedok North</b></div>`)[0];
                popup_840dfbfeb8a909b887139e5aacecd3dc.setContent(html_2e35da8ccad68e71aa8f89572fdb7d59);
            
        

        marker_bfbacec45a802f9785ad21a76a8818b3.bindPopup(popup_840dfbfeb8a909b887139e5aacecd3dc)
        ;

        
    
    
            var marker_6a11edecc1b9c2bd30cb8f2195c427ac = L.marker(
                [1.334742117, 103.9179554],
                {}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var div_icon_aa505030c44a3bb31f6349de91c08d57 = L.divIcon({"className": "empty", "html": "\u003cb\u003eDT29 Bedok North\u003c/b\u003e", "iconSize": [30, 10]});
            marker_6a11edecc1b9c2bd30cb8f2195c427ac.setIcon(div_icon_aa505030c44a3bb31f6349de91c08d57);
        
    
            var marker_ceab10dc1df5a5eab3c3298ecb8a4eba = L.marker(
                [1.345515305, 103.938408],
                {}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var icon_a97f7177c7fe733ea3a9325b0cacbeed = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ceab10dc1df5a5eab3c3298ecb8a4eba.setIcon(icon_a97f7177c7fe733ea3a9325b0cacbeed);
        
    
        var popup_3912fb501d584e0b970c51f9b75d320d = L.popup({"maxWidth": 150});

        
            
                var html_c22f70a8fbbca6026fa7a0acfb51502c = $(`<div id="html_c22f70a8fbbca6026fa7a0acfb51502c" style="width: 100.0%; height: 100.0%;"><b>DT31 Tampines West</b></div>`)[0];
                popup_3912fb501d584e0b970c51f9b75d320d.setContent(html_c22f70a8fbbca6026fa7a0acfb51502c);
            
        

        marker_ceab10dc1df5a5eab3c3298ecb8a4eba.bindPopup(popup_3912fb501d584e0b970c51f9b75d320d)
        ;

        
    
    
            var marker_557c3499ed35af5702f75ed0c7ad58dd = L.marker(
                [1.345515305, 103.938408],
                {}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var div_icon_a213646de40db7c38ea55bea9b67adf0 = L.divIcon({"className": "empty", "html": "\u003cb\u003eDT31 Tampines West\u003c/b\u003e", "iconSize": [30, 10]});
            marker_557c3499ed35af5702f75ed0c7ad58dd.setIcon(div_icon_a213646de40db7c38ea55bea9b67adf0);
        
    
            var marker_f41bdd3a6f29f0db6f4578d314fd2e4d = L.marker(
                [1.334967302, 103.9084393],
                {}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var icon_b9a7acdb30b5a636d65b858757072847 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f41bdd3a6f29f0db6f4578d314fd2e4d.setIcon(icon_b9a7acdb30b5a636d65b858757072847);
        
    
        var popup_fffa63c1f0cf4f14e48f7c98d0ca88a6 = L.popup({"maxWidth": 150});

        
            
                var html_03a1150325515ef9d28950f35e3975f7 = $(`<div id="html_03a1150325515ef9d28950f35e3975f7" style="width: 100.0%; height: 100.0%;"><b>DT28 Kaki Bukit</b></div>`)[0];
                popup_fffa63c1f0cf4f14e48f7c98d0ca88a6.setContent(html_03a1150325515ef9d28950f35e3975f7);
            
        

        marker_f41bdd3a6f29f0db6f4578d314fd2e4d.bindPopup(popup_fffa63c1f0cf4f14e48f7c98d0ca88a6)
        ;

        
    
    
            var marker_458fa0b89b6c3c595e5cd0cc602252eb = L.marker(
                [1.334967302, 103.9084393],
                {}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var div_icon_65c9d29982f9130a6665398c3374cc38 = L.divIcon({"className": "empty", "html": "\u003cb\u003eDT28 Kaki Bukit\u003c/b\u003e", "iconSize": [30, 10]});
            marker_458fa0b89b6c3c595e5cd0cc602252eb.setIcon(div_icon_65c9d29982f9130a6665398c3374cc38);
        
    
            var marker_b7b6e87082cee1ba81e1cda85f04d00b = L.marker(
                [1.326876715, 103.8832341],
                {}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var icon_d0194d22ca581fa39e2124ec34c06e27 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_b7b6e87082cee1ba81e1cda85f04d00b.setIcon(icon_d0194d22ca581fa39e2124ec34c06e27);
        
    
        var popup_5af73828a31583637026d0f2f3082bfe = L.popup({"maxWidth": 150});

        
            
                var html_9c20049405353fb6a6830d0b06ad80ff = $(`<div id="html_9c20049405353fb6a6830d0b06ad80ff" style="width: 100.0%; height: 100.0%;"><b>DT25 Mattar</b></div>`)[0];
                popup_5af73828a31583637026d0f2f3082bfe.setContent(html_9c20049405353fb6a6830d0b06ad80ff);
            
        

        marker_b7b6e87082cee1ba81e1cda85f04d00b.bindPopup(popup_5af73828a31583637026d0f2f3082bfe)
        ;

        
    
    
            var marker_0ddc0011bc899cfd3a5efeb15754fde6 = L.marker(
                [1.326876715, 103.8832341],
                {}
            ).addTo(map_a9d84f529407e772ff8cafc177b8d664);
        
    
            var div_icon_245fba49ada6ef3104dcac41e6f287c8 = L.divIcon({"className": "empty", "html": "\u003cb\u003eDT25 Mattar\u003c/b\u003e", "iconSize": [30, 10]});
            marker_0ddc0011bc899cfd3a5efeb15754fde6.setIcon(div_icon_245fba49ada6ef3104dcac41e6f287c8);
        
</script>
</html>